---
import Layout from "../layouts/Layout.astro";
import CardLink from "../components/CardLink.astro";
import EventItem from "../components/EventItem.astro";
const logoheight = 136;
const height = logoheight + "px";
let media;
try {
  media = await Astro.glob("./media/*.md");
  media.sort(
    (a, b) =>
      Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published)
  );
} catch (e) {
  console.log("Error. NO hay archivos md en media");
}
let competition;
try {
  competition = await Astro.glob("./competition/*.md");
} catch (e) {
  console.log("Error. NO hay archivos md en competition");
}
let blog;
try {
  blog = await Astro.glob("./blog/*.md");
  blog.sort(
    (a, b) =>
      Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published)
  );
} catch (e) {
  console.log("Error. NO hay archivos md en blog");
}
let events;
try {
  events = await Astro.glob("./events/*.md");
  events.sort(
    (a: any, b: any) =>
      Date.parse(a.frontmatter.start) - Date.parse(b.frontmatter.start)
  );
  events = events.filter(
    (ev: any) => Date.parse(ev.frontmatter.end) > Date.now()
  );
} catch (e) {
  console.log("Error. NO hay archivos md en media");
}
const title = "";
const headerTitle = "High with a little help from my friends";
const description = "";
const video = "/videos/homepage.mp4";
const cover = "/covers/homepage.webp";
---

<Layout
  header="large"
  title={title}
  headerTitle={headerTitle}
  description={description}
  cover={cover}
  video={video}
>
  {
    competition?.length && (
      <section class="text">
        <h2>Próximas competiciones</h2>
        <ul class="blog">
          {competition.slice(0, 2).map((post) => {
            return (
              <a href={post.url} class="db-item">
                <div class="title">{post.frontmatter.title}</div>
                <div class="date">{post.frontmatter.published}</div>
              </a>
            );
          })}
        </ul>
      </section>
    )
  }
  {
    events?.length && (
      <section class="text">
        <h2>Próximos eventos</h2>
        <ul class="event-list">
          {events.map((post) => {
            return (
              <EventItem
                title={post.frontmatter.title}
                start={post.frontmatter.start}
                end={post.frontmatter.end}
                city={post.frontmatter.city}
                venue={post.frontmatter.venue}
                url={post.frontmatter.url}
              />
            );
          })}
        </ul>
      </section>
    )
  }
  {
    media?.length && (
      <section class="text">
        <h2>
          Últimas apariciones en medios <a href="/media"> Ver todas</a>
        </h2>
        <ul class="blog">
          {media.slice(0, 6).map((post) => {
            return (
              <CardLink
                url={String(post.url)}
                img={post.frontmatter.cover}
                title={post.frontmatter.title}
                date={post.frontmatter.published}
              />
            );
          })}
        </ul>
      </section>
    )
  }
  {
    blog?.length && (
      <section class="text">
        <h2>
          Últimas entradas del blog <a href="/blog"> Ver todas</a>
        </h2>
        <ul class="blog">
          {blog.slice(0, 6).map((post) => {
            return (
              <CardLink
                url={String(post.url)}
                img={post.frontmatter.cover}
                title={post.frontmatter.title}
                date={post.frontmatter.published}
              />
            );
          })}
        </ul>
      </section>
    )
  }
  <!-- <section class="text">
		<h2>Proyectos</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex
			accusantium nam minima laborum sunt sint dicta est unde quo? Vitae
			veritatis velit, consequatur natus temporibus perspiciatis commodi
			eligendi at.
		</p>
		<a href="/projects">Ir</a>
	</section> -->
  <!-- <section class="text">
		<h2>Nuestros patrocinadores</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex
			accusantium nam minima laborum sunt sint dicta est unde quo? Vitae
			veritatis velit, consequatur natus temporibus perspiciatis commodi
			eligendi at.
		</p>
		<a href="/sponsors">Ir</a>
	</section> -->
  <!-- <section class="text">
		<h2>Colabora con nosotros</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex
			accusantium nam minima laborum sunt sint dicta est unde quo? Vitae
			veritatis velit, consequatur natus temporibus perspiciatis commodi
			eligendi at.
		</p>
		<a href="/colab">Ir</a>
	</section> -->
</Layout>

<style lang="sass" define:vars={{ height }}>
  $breakpoint-mobile: 450px
  $breakpoint-tablet: 768px
  $breakpoint-desktop: 980px
  .head
    width: 100%
    display: flex
    gap: 1rem
    align-items: center
    justify-content: center
    :global(.logo)
      min-height: var(--height)
      flex: 1 0
      @media (min-width: $breakpoint-mobile)
        flex-grow: 4
      @media (min-width: $breakpoint-tablet)
        flex-grow: 5
      @media (min-width: $breakpoint-desktop)
        flex-grow: 8
  .text
    font-size: 1.1rem
    padding: 0
    text-align: start
    text-justify: auto
    h2
      color: var(--color-theme-orange)
      font-size: 1.7rem
      font-weight: 300
      position: relative
      margin-bottom: 2rem
      display: flex
      justify-content: space-between
      align-items: center
      a
        border-radius: 0.8rem
        min-width: max-content
        flex: 0
        padding: 0.3rem 1.2rem
        font-size: 0.8rem
        font-weight: 100
        text-decoration: none
        color: var(--color-theme-blue)
        transition: background-color 300ms ease-in-out
        &:hover
          background-color: var(--color-grey-60)
      &:before
        content: ""
        position: absolute
        bottom: -0.5rem
        left: 0
        width: 3rem
        border-bottom: 0 solid var(--color-theme-orange)
      @media (min-width: $breakpoint-mobile)
        flex-grow: 4
      @media (min-width: $breakpoint-tablet)
        flex-grow: 5
      @media (min-width: $breakpoint-desktop)
        flex-grow: 8
  .text + .text
    margin-top: 3rem
</style>
