---
import Layout from '../layouts/Layout.astro'
const posts = await Astro.glob('./media/*.md');
const title = "Medios"
const cover = `/covers/${title.toLowerCase()}.webp`
const description = ""
---
<Layout header="large" title={title} cover={cover} description={description}>
  <ul class="blog">
    {
      posts?.length && posts.map(post => {
        return (
          <a href={post.url} class="db-item">
            <div class="item-image">
                  <img src={post.frontmatter.cover} alt="" />
                </div>
                <div class="item-content">
                  <div class="title">{post.frontmatter.title}</div>
                  <div class="date">{post.frontmatter.published}</div>
                </div>
          </a>
        )
      })
    }
    { !posts?.length && <p>No hay contenido</p> }
  </ul>
</Layout>
